<div>
    <div class="modal-header">
        <h3 class="modal-title">Inventory Balance - {{accountName}}</h3>
    </div>
    <div class="modal-body">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <input date-range-picker options="opts" class="form-control date-picker" type="text" ng-model="datePicker" placeholder="select date range" />
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="masuk">
                        <div class="table-responsive"> 
                            <table class="table table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th rowspan="2">Code</th>
                                        <th rowspan="2">Name</th>
                                        <th colspan="3" style="text-align:center;">Last Balance</th>
                                    </tr>
                                    <tr>
                                        <th style="text-align:center;">Qty</th>
                                        <th style="text-align:center;">Price</th>
                                        <th style="text-align:center;">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="gl in inventories">

                                        <td>
                                            <span class="label" ng-class="{'label-primary':gl.account.accountSide === 'ACTIVA', 'label-danger':gl.account.accountSide === 'PASSIVA' }">
                                                {{gl.account.code}}                                     
                                            </span>
                                        </td>

                                        <td>
                                            <button class="btn btn-link btn-xs" ng-click="onSubAccountClicked(gl.account)">
                                                {{gl.account.name}}
                                            </button>
                                        </td>
                                        <td style="text-align:right;">{{gl.balanceQuantity==0?'':gl.balanceQuantity}}</td>
                                        <td style="text-align:right;">{{gl.balancePrice | number:0}}</td>
                                        <td style="text-align:right;">{{gl.balanceTotalPrice | number:0}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Close</button>
    </div>
</div>
